@require "vendor"
@require "vars"

/* SMACSS categories */
@require "base"       // BASE
@require "layout"     // LAYOUT
// @require "state"   // STATE

/* MODULES */         // MODULES


/* END MODULES */

/* Helpers */
@require "helpers"

body {
  background-color: grey;
}