:root {
  --white: #FFF;
  --black: #000;

  --eggshell: #EEE8D6;
  --darkblue: #022933;
  --yellow: #F3D350;
  --blue: #0076A3;
  --green: #BFC406;
  --orange: #D14348;
  --red: #D14348;
  --purple: #6D73C2;

  --color-light: var(--white);
  --color-dark: var(--black);
  --color-main: var(--darkblue);
  --color-background: var(--color-light);
  --color-links: var(--blue);
  --color-navigation-links: var(--blue);

  --font-size-base: 1.3rem;
  --line-height-base: 150%;
  --font-primary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}