.hide
  display: none;

/*
  If the background property of an element is set 'after' .bg-clip-text in
  the CSS, the text will remain transparent and the background-clip will
  be removed.  Essentially, the text vanishes and the background spills out
  and fills it's contianing element.
*/
.bg-clip-text {
  $bg-clip-text()
}

/* State Helpers */