/*
  Layout rules divide the page into sections. Layouts hold one or more modules together.
  
  SMACSS -- Guidlines
  1) Use ID selectors on main layout areas
  2) l-prefix class names
*/

/* Layout + Layout State Rules */